* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}
:root {
  --primary-color: #e02c6d;
  --secondary-color: #fff;
  --primary-font-color:color: #787885;
}
.btn-primary {
  background-color: var(--primary-color);
  font-size: 1.2em;
  color: var(--secondary-color);
  padding: 10px;
  border-radius: 15px;
}
p{
  color: var(--primary-font-color);
  opacity: .5;
}
/*-----------------------
                        Header section started
                                     --------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  margin-top: 50px;
}
.header-manu a {
  text-decoration: none;
  margin-right: 10px;
  font-size: 1.5em;
  padding: 5px;
  color: #000;
}
.header-manu a:hover {
  background-color: azure;
  color: #645858;
}
/*----------------
              Section one started
                           ----------------------*/
.journey-influencer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.journey-about > h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.journey-about > p {
  margin-bottom: 20px;
  font-size: 1.5em;
}
.camera {
  background: url(../images/Circle\ design.svg);
  margin-right: 50px;
  background-repeat: no-repeat;
}
/*-------------------------
                      logo-section
                      ------------------------*/
hr {
  margin: 10px 130px;
  opacity: 0.5;
}
.logo-section {
  display: flex;
  justify-content: space-around;
  margin: 10px 80px;
}
.logo-section img {
  padding: 10px;
}
/*----------------popular callection start-------------*/
.popular-collection > h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2em;
}
.popular-collection {
  padding: 150px 80px;
  background-color: #aaa;
  position: relative; /* button er position change er jonne dea*/
}
.popular-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  border-radius: 15px;
}
.popular-card .card {
  background-color: var(--secondary-color);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px gray;
}
.popular-card img {
  width: 100%;
  height: 256px;
}
.see-more {
  position: absolute;
  color: var(--primary-color);
  background-color: #aaa;
  bottom: 100px;
  right: 35px;
  font-size: 2em;
  border: none;
}
/*----------------
              featured style started
                             ----------------------*/
.featured-section {
  background-color: #aaa;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
.featured-about,
.featured-image {
  padding: 5px 50px;
}
.featured-about > h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.featured-about > p {
  margin-bottom: 20px;
  font-size: 1.2em;
}
.featured-image {
  height: 40vh;
  width: auto;
}

/*-------------------
                        Footer
                                  ---------------*/

.footer {
  text-align: center;
  background-color: #000;
  color: var(--secondary-color);
  padding: 50px 0;
}
.footer p{
  margin: 20px;
}
.footer-logo i{
  padding-right: 30px;
}
.featured-image{
  width: 100%;
}
/*------------------------------------------------------
                                  Media Quary
----------------------------------------------------------*/
/* for mobile  */
@media screen and (max-width: 576px) {
  .header {
    flex-direction: column;
  }
  .header-manu,
  .popular-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .journey-influencer,
  .featured-section {
    flex-direction: column-reverse;
    text-align: center;
  }
  .logo-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  hr {
    display: none;
  }
  .header-manu > a :last-child {
    position: absolute;
    top: 65px;
    right: 45px;
    font-size: 2em;
  }
}

/* for tablet  */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .header {
    flex-direction: column;
  }
  .header-manu,
  .popular-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .logo-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
   .featured-section {
    flex-direction: column-reverse;
    text-align: center;
  }
}
/* for laptop  */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .popular-card {
    grid-template-columns: repeat(3, 1fr);
  }
}
