* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}
:root {
  --primary-color: #e02c6d;
  --secondary-color: #fff;
}
.btn-primary {
  background-color: var(--primary-color);
  font-size: 1.5em;
  color: var(--secondary-color);
  padding: 20px;
  border-radius: 15px;
}
/*-----------------------
                        Header section started
                                     --------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  margin-top: 50px;
}
.header-manu a {
  text-decoration: none;
  margin-right: 10px;
  font-size: 1.5em;
  padding: 5px;
  color: #000;
}
.header-manu a:hover {
  background-color: azure;
  color: #645858;
}
/*----------------
              Section one started
                           ----------------------*/
.journey-influencer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.journey-about > h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.journey-about > p {
  margin-bottom: 20px;
  font-size: 1.5em;
}
.camera {
  background: url("../images/Circle/ design.svg");
  margin-right: 50px;
  background-repeat: no-repeat;
}
/*------------------------------------------------------
                                  Media Quary
----------------------------------------------------------*/
@media screen and (max-width: 576px) {
  .header {
    flex-direction: column;
  }
  .header-manu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .journey-influencer {
  flex-direction: column-reverse;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .header {
    flex-direction: column;
  }
  .header-manu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
